#Navbar {
  background: #4169e1 !important;
}

.header_profile_img {
  height: 35px;
  width: 35px;
  border-radius: 2rem;
}
#header_more_btn {
  background: transparent;
  box-shadow: none !important;
  border: none !important;
}
#header_more_btn::after {
  display: none !important;
}
